<footer id="layout-footer">
    <div>
        <p>
            &#169; Avinash Shukla. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <% if (locals.user){ %>
                <li>
                    <a href="/users/profile/<%= user._id %>">Profile</a>
                </li>
                <% } else{%>
                    <a href="/users/sign-in">Sign in or Sign up to see your account</a>
                    <% } %>
            </ul>
        </nav>
    </div>
</footer>
